#root {
  display: flex;
  height: 100vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.modal-button-container {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  gap: 8px;
}
